.svg-icon {
  width: 40px;
  height: 40px;
  display: inline-block;

  &.email         { background-image: url(images/icons/email.svg); }
  &.github        { background-image: url(images/icons/github.svg); }
  &.rss           { background-image: url(images/icons/rss.svg); }
  &.twitter       { background-image: url(images/icons/twitter.svg); }
  &.gnusocial     { background-image: url(images/icons/gnusocial.png); }
  &.instagram     { background-image: url(images/icons/instagram.png); }

}
