---
layout: default
---

<div class="post-date">
    {% assign m = page.date | date: "%-m" %}
        {{ page.date | date: "%-d" }}
            {% case m %}
                {% when '1' %}Januari,
                {% when '2' %}Februari,
                {% when '3' %}Mars,
                {% when '4' %}April,
                {% when '5' %}Maj,
                {% when '6' %}Juni,
                {% when '7' %}Juli,
                {% when '8' %}Augusti,
                {% when '9' %}September,
                {% when '10' %}Oktober,
                {% when '11' %}November,
                {% when '12' %}December,
            {% endcase %}
        {{ page.date | date: "%Y" }}   
</div>

<div class="post-comments">
{% if site.data.comments[page.slug].size > 0 %}
                <a href="{{ post.url | relative_url }}#comments">{{ site.data.comments[page.slug] | size }} Kommentar{% if site.data.comments[page.slug].size > 1 %}er{% endif %}</a>
            {% endif %}
</div>

<article class="post">

    <h1>{{ page.title }}</h1>

    <div class="entry">
        {{ content }}
    </div>

     <ul class="tags-page">
        {% for tag in page.tags %}
    	    <li><a href="{{ site.baseurl }}/tags#{{ tag }}" class="tag">{{ tag }}</a></li>
    	{% endfor %}
    </ul>
 
     <div class="comments">
<p>
<p>

<!-- Static comments -->
<!-- Partly based on Made Mistakes' comments.html file: -->
<!-- https://github.com/mmistakes/minimal-mistakes/blob/master/_includes/comments.html -->
<!-- Also partly based on Eduardo Boucas' reviews.html file -->
<!-- https://github.com/eduardoboucas/popcorn/blob/gh-pages/_includes/reviews.html -->

{% if site.data.comments[page.slug] %}

  <p>
    <h2 id="comments">
        {% if site.data.comments[page.slug].size > 0 %}
                {{ site.data.comments[page.slug] | size }} Kommentar{% if site.data.comments[page.slug].size > 1 %}er{% endif %}
            {% endif %}
    </h2>
  <div class="comment">
  {% assign comments = site.data.comments[page.slug] | sort %}

  {% for comment in comments %}
    <div class="single-comment">
    <legend><strong>{{ comment[1].name }}</strong><legend>
    <div class="comment-date">
    {% assign m = comment[1].date | date: "%-m" %}
        {{ comment[1].date | date: "%-d" }}
            {% case m %}
                {% when '1' %}Januari,
                {% when '2' %}Februari,
                {% when '3' %}Mars,
                {% when '4' %}April,
                {% when '5' %}Maj,
                {% when '6' %}Juni,
                {% when '7' %}Juli,
                {% when '8' %}Augusti,
                {% when '9' %}September,
                {% when '10' %}Oktober,
                {% when '11' %}November,
                {% when '12' %}December,
            {% endcase %}
        {{ comment[1].date | date: "%Y. Kl. %H:%M" }}   



</div>
    <p>{{ comment[1].message | markdownify }}
    </div>
  {% endfor %}
  </div><!--comment-->

  <div class="comment-compose">
  <p>
{% endif %}

{% include comments.html %}
<hr>
  </div><!-- comment-compose -->

	</div>

    <div class="PageNavigation">
     {% if page.previous.url %}
         <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
     {% endif %}
    
     {% if page.next.url %}
         <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
     {% endif %}
    </div>
